html,
body {
	height: 100%;
	overflow: hidden;
}

#output,
#template,
#variables {
	border: 1px solid #6c757d;
	overflow-y: auto;
	scrollbar-width: none;
}

#output {
	padding: 10px;
}

#copybutton {
	width: 37px;
	height: 37px;
}

.left-col-container {
	flex: 0 0 50%;
}

.flex-fill-custom,
#template,
#variables {
	flex: 1;
	overflow: auto;
}

.d-flex.flex-row {
	align-items: center;
	justify-content: flex-end;
}

#loader {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	background: black;
	z-index: 10;
	border-radius: 30px;
	padding: 20px;
}

.loaded #loader {
	display: none;
}

body:not(.loaded) #main {
	opacity: 0.3;
}

#env-options label {
	user-select: none;
}
